$linkColors:#9C9C9C;
$navHoverColor: #FF9061;

$colorPrincipal: #ffffff;
$colorSecondaire: #000000;
$linkColors:#9C9C9C;

// Responsive Variables
$mobile:425px;
$tablet: 990px;
$laptop: 1024px;
$desktop: 1920px;